<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>


<div *ngIf="!isPopupVisible">
    <button class="contact-button blink" (click)="openPopup()">
        <i class="fas fa-phone"></i>
    </button>
</div>

<div *ngIf="isPopupVisible" class="popup">
    <span class="close close1 golden" (click)="closePopup()">&times;</span>
    <h4 class="golden">Booking Now</h4>
    <ul>
        <li><a class="golden" href="tel:+918800003301"><i class="fas fa-phone phone1 golden"></i> &nbsp;  +918800003301</a></li>
    
        <li style="margin-top: 10px;"><a class="golden" href="tel:+918800003302"><i class="fas fa-phone phone1 golden"></i> &nbsp;  +918800003302</a></li>
    </ul>
    
</div>

<div *ngIf="!isWhatsappVisible">
<button class="Whatsapppopup-button" (click)="openWhatsapp()">
    <i class="fab fa-whatsapp"></i>
</button>
</div>

<div *ngIf="isWhatsappVisible" class="Whatsapppopup">
    <span class="close close1 golden" (click)="closeWhatsapp()">&times;</span>  
    <h4 class="golden">Chat With Us</h4>
    <ul>
        <li style="margin-top: 10px;">
            <a class="golden" href="https://wa.me/+918800003301?text=Hello%20I%20want%20to%20booking%20a%20Car" target="_blank">
                <i class="fab fa-whatsapp phone2 golden"></i> &nbsp; +918800003301
            </a>
        </li>        
    </ul>
</div>






