<div class="container-fluid   py-5 ">
    <div class="container   pt-3 pb-1">

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <h1>
           
            Booking Enquiry has been submitted successfully. 
        </h1>
        <h2> Thanks for Booking. Our Executive will call you ASAP.</h2>
        <h1 class="gap"></h1>
      
    </div>
    <div class="text-center mt-3">
        <button class="btn btn-primary btn-block mb-3" type="submit"  style="color: black; font-weight: 500;">Thank You</button>
    </div>
</form>
</div>
</div>