<!-- Privacy Policy Start -->
<div class="container-fluid py-4">
    <div class="container pt-5 pb-3">
        <h1 class="display-1 text-primary text-center">PAYMENTS & REFUNDS POLICY</h1>
        <h1 class="display-4 text-uppercase text-center mb-5">For Prime Rides Services Pvt Ltd </h1>
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <img class="w-75 mb-4" src="assets/image/about.png" alt="">
                <h1 class="text-primary">Introduction</h1>
                <p>
                    Prime Rides is a self drive car rental service that provides you with all the privacy, fun and
                    convenience of your own car, without the hassles of owning and maintaining one.

                    We drop and pick-up cars from your doorstep, so that you can spend time on the more important thing
                    – your drive! The doorstep drop and pick-up of cars is our standard way of serving you, and is
                    available throughout the areas served by us.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2 class="text-primary">What is cancellation policy?</h2>
                <p>
                    Cancellation made after booking start time – No refund of car rental paid in advance.<br>

                    Cancellation made between 0-24 hrs before booking start time – 100% of the car rental paid in
                    advance shall be deducted. Refund of the remaining portion of car rental after deduction of
                    processing charges 499.<br>


                    Cancellation made between 24-48 hrs before booking start time -Flat cancellation fee of 50% of the
                    car Rental paid in advance. Refund of the remaining portion of car rental after deduction of
                    processing charges 499. </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <h2 class="text-primary">What is modification policy?</h2>
                <p>
                    No modification is allowed to the schedule booking between 0-48 hours before booking start time.
                    However you can modify your booking before 48 hours of booking start time and same is subject to
                    extra charges depends on destination and KMs.
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <h2 class="text-primary">What is car booking extension policy?</h2>
                <p>
                    In case Guest wishes to extend the booking period, he/she may do so at any time before or after the
                    booking ends. Extension of booking shall be applicable at actual tariff. Extension is not allowed
                    before 4 hours of booking end time. In such incidents Rs. 400/hourly penalty will be levied on 5
                    seater cars and Rs 500/Hourly penalty will be levied on 6/7 seater cars.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <h2 class="text-primary">Can I Shortening/Rescheduling booking within 24hrs of booking start or booking
                    end?</h2>
                <p>
                    Guest will not be able to change booking start time or shorten the booking end time within 4 hours
                    prior to the booking start time. No refunds will be applicable. Nevertheless, Guest can anytime
                    extend the booking, extension terms provided above shall be applicable.
                </p>


            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <h2 class="text-primary">What is cap of Kilometers of my trip?</h2>
                <p>
                    You are allowed to drive 250 KM per day however you would get Unlimited KMs (Max 3000 KMs) for
                    bookings greater than 7 days. You can also choose unlimited Kilometers plan while booking.
                </p>


            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <h2 class="text-primary">What is wrong fueling penalty?</h2>
                <p>
                    The Guest will be liable for the full cost of repair / damage to the vehicle + miscellaneous
                    expenses arising out of the damages.
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <h2 class="text-primary">Do I get any reimbursement for the fuel I fill in my Prime Rides car?</h2>
                <p>
                    We offer booking “without fuel” pricing: We give you a reserve fuel tank, and we need the same back
                    from you. Hence there is no any fuel reimbursements applicable.
                </p>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <h2 class="text-primary">Who pays for parking and tolls/Green entry taxes?</h2>
                <p>
                    These expenses depend on your usage, hence you need to pay for them.<br>

                    Our cars are equipped with Fast tag devices for your convenience. The toll charges incurred during
                    your trip will be billed to you in your invoice.
                </p>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <h2 class="text-primary">Do I need to pay the fines incurred during my booking, due to parking/traffic
                    violations?</h2>
                <p>
                    Yes.
                </p>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <h2 class="text-primary"> How much time does it take to get my refund back?</h2>
                <p>
                    All refunds are typically made within 07 days of completing the bookings. However, in some cases,
                    there might be some procedural delays from the banks. Please do let us know in case your refund has
                    not been credited to your account within 10 days and we will make sure we do everything we can to
                    expedite it.
                </p>
            </div>
        </div>
    </div>


<!-- 
    <div class="row mt-3">
        <div class="col-lg-4 mb-2">
            <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4"
                    style="width: 100px; height: 100px;">
                    <i class="fa fa-2x fa-headset text-secondary"></i>
                </div>
                <h2 class="text-uppercase m-0">24/7 Car Rental Support<br>+91 8800003304 , +91 8800003305</h2>
            </div>
        </div>
        <div class="col-lg-4 mb-2">
            <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4"
                    style="width: 100px; height: 100px;">
                    <i class="fa fa-2x fa-car text-secondary"></i>
                </div>
                <h4 class="text-light text-uppercase m-0">Car Booking Anytime<br>+91 8800003301<br> +91 8800003302</h4>
            </div>
        </div>
        <div class="col-lg-4 mb-2">
            <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4"
                    style="width: 100px; height: 100px;">
                    <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                </div>
                <h4 class="text-uppercase m-0">Self Pickup / Home Delivery</h4>
            </div>
        </div>
    </div> -->


    <h1 class="gap"></h1>
    <div class="row bg-banner mt-3">
        <h1 class="gap"></h1>
        <h1 class="text-uppercase text-center text-primary">How Prime Rides Work</h1>
        <div class="col-lg-3 mb-2">
            <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                <div class="d-flex align-items-center justify-content-center flex-shrink-0  ml-n4 mr-4"
                    style="width: 100px; height: 100px;">
                    <img style="width: 100px; height: 100px;" src="assets/image/rentcar.jpg" alt="">
                </div>
                <p>
                    <b> Self Drives Car</b><br>
                    Just select your Duration, Location and Car. All on the site! It's all super easy.
                </p>
            </div>
        </div>
        <div class="col-lg-3 mb-2">
            <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                <div class="d-flex align-items-center justify-content-center flex-shrink-0  ml-n4 mr-4"
                    style="width: 100px; height: 100px;">
                    <img style="width: 100px; height: 100px;" src="assets/image/delivery.jpg" alt="">
                </div>
                <p>
                    <b>Delivery</b><br>
                    We deliver your booked car at your door step across in Delhi-NCR.
                </p>
            </div>
        </div>
        <div class="col-lg-3 mb-2">
            <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                <div class="d-flex align-items-center justify-content-center flex-shrink-0  ml-n4 mr-4"
                    style="width: 100px; height: 100px;">
                    <img style="width: 100px; height: 100px;" src="assets/image/i20.jpg" alt="">
                </div>
                <p>
                    <b>Drive Any where</b><br>
                    Enjoy the freedom to self drive your booked car to any destination across INDIA.
                </p>
            </div>
        </div>
        <div class="col-lg-3 mb-2">
            <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                <div class="d-flex align-items-center justify-content-center flex-shrink-0 ml-n4 mr-4"
                    style="width: 100px; height: 100px;">
                    <img style="width: 100px; height: 100px;" src="assets/image/return.png" alt="">
                </div>
                <p>
                    <b>Return Car</b><br>
                    You can return the car back after completing your trip at our provided location.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Privacy Policy End -->