<div
    style="background-image: url('assets/image/bacground.jpg'); background-repeat: no-repeat; background-size: cover;background-position: center; margin-top: -10px; ">

    <!-- Search Start -->
    <form [formGroup]="searchForm">
        <div class="container-fluid py-5">
            <div class="container  pt-3 pb-1">
                <div class="row" style="display: flex; flex-wrap: wrap;">
                    <div class="col-lg-5 col-sm-12 bg-light custm" style="border-radius: 15px; "> <br>

                        <div class="options" *ngIf="show">
                            <div class="rental-option selected col-lg-6 col-md-6 col-sm-12"
                                [class.selected]="selectedOption === 'Daily'" (click)="selectOption('Daily')">
                                <h5 style="font-size: 16px; margin-top: 6px; color: rgb(3,3,36);">For Hours & Days
                                    Rentals</h5>
                            </div>
                            <div class="rental-option col-lg-6 col-md-6  col-sm-12"
                                [class.selected]="selectedOption === 'Monthly'" (click)="selectOption('Monthly')">
                                <h5 style="font-size: 16px; margin-top: 6px; color: rgb(3,3,36);">Monthly Subscription
                                </h5>
                            </div>
                        </div>

                        <div class="tab-container">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label for="city">Select City</label>
                                <input type="text" (focus)="showTextArea()" [(ngModel)]="selectedStateValue"
                                    [ngModelOptions]="{standalone: true}" [readOnly]="true">
                            </div>
                        </div>

                        <div class="container" style="margin-left: 5px;">
                            <div class="tab-container">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 tab"
                                    (click)="selectTab('selfPickup')" style="font-weight: 600;">Self Pickup</div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 tab"
                                    (click)="selectTab('homeDelivery')" style="font-weight: 600; margin-right: 8px;">
                                    Home Delivery</div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6"
                            *ngIf="selectedTab === 'homeDelivery' && !showSelfPickupInput">
                            <input type="text" [(ngModel)]="selectedStateValue" placeholder="Enter delivery address">
                        </div>


                        <div class="tab-container">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="start-date">Start Date</label>
                                <input type="date" id="start-date" name="start-date" formControlName="PickupDate"
                                    [(ngModel)]="selectedPickupDate" [min]="getCurrentDate()"
                                    (change)="updateAvailableTimes()">
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="start-time">Start Time</label>
                                <div class="dropdown time-picker" (click)="onTimePickerClick($event)">
                                    <input type="text" formControlName="StartTime" [(ngModel)]="selectedStartTime"
                                        (click)="showStartTimeOptions = !showStartTimeOptions">
                                    <div class="dropdown-menu popup-card" *ngIf="showStartTimeOptions">
                                        <div class="cardse" *ngFor="let time of timeOptions"
                                            (click)="selectStartTime(time)">{{
                                            time }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-container">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                *ngIf="selectedOption !== 'Monthly'">
                                <label for="end-date">End Date</label>
                                <input type="date" id="end-date" name="end-date" formControlName="DropupDate"
                                    [(ngModel)]="selectedDropoffDate" (change)="calculateTotalTime()"
                                    [min]="selectedPickupDate">

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                *ngIf="selectedOption !== 'Monthly'">
                                <label for="end-time">End Time</label>
                                <div class="dropdown time-picker" (click)="onTimePickerClick($event)">
                                    <input type="text" formControlName="EndTime"
                                        (click)="showEndTimeOptions = !showEndTimeOptions"
                                        [(ngModel)]="selectedEndTime">
                                    <div class="dropdown-menu popup-card" *ngIf="showEndTimeOptions">
                                        <div class="cardse" *ngFor="let time of endTimeOptions"
                                            (click)="selectEndTime(time)">{{
                                            time }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-container">
                            <p class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                *ngIf="selectedOption !== 'Monthly'"> Total Time: {{ totalTime }} </p>
                            <p class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                *ngIf="selectedOption === 'Monthly'">Duration: 30 Days</p>
                        </div>


                        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                            <div class="tab-container">
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                    <label for="seater">Seater</label>
                                    <select formControlName="selectedSeater" class="form-select">
                                        <option value="4 Seater">4 Seats</option>
                                        <option value="5 Seater">5 Seats</option>
                                        <option value="6 Seater">6 Seats</option>
                                        <option value="7 Seater">7 Seats</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                    <label for="fuel">Fuel</label>
                                    <select formControlName="selectedFuel" class="form-select">

                                        <option value="Petrol">Petrol</option>
                                        <option value="Diesel">Diesel</option>
                                        <option value="CNG">CNG</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                    <label for="transmission">Transmission</label>
                                    <select formControlName="selectedTransmission" class="form-select">
                                        <option value="Manual">Manual</option>
                                        <option value="Automatic">Automatic</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-primary btn-block mb-3" type="submit"
                                    style="font-size: 16px; font-weight: 500; margin-top: 6px; color: rgb(3,3,36);">Search</button>
                            </div>
                        </form>


                    </div>

                    <!-- Add a column for the carousel -->
                    <div class="col-lg-3 col-sm-12"></div>
                    <div class="col-lg-3 col-sm-12" style="margin-top: 100px;">
                        <div class="row text-center animated-div   bg-white" style="border-radius: 15px;">
                            <h1 class="gap"></h1>
                            <p class="display-1 text-center blink"   style="color: rgb(247, 5, 5); font-weight: 900; font-size: 36px;"> <i class="fa fa-2x fa-gifts"></i></p>
                            <h1 class="display-4 text-uppercase text-center blink1" >Exclusive Offers For <span >Female</span></h1>
                            <p class="text-center  offer" ><span  style="color: rgb(247, 52, 52); font-size: 22px;">Solo-Booking Your Favourite Self Driven Car Today and Get 20% Off</span></p>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </form>
    <!-- Search End -->
    <h1 class="gap"></h1>
</div>
<!-- About Start -->
<div class="container-fluid bg-white ">
    <div class="container pt-2 pb-1">
        <h1 class="display-1 text-primary text-center"> <i class="fa fa-2x fa-duotone fa-hands-praying"></i></h1>
        <h1 class="display-4 text-uppercase text-center">Welcome To <span class="text-primary">Prime Rides</span></h1>
        <h4 class="text-uppercase text-center "><span class="text-primary">Premium Self Driven Cars</span></h4>
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <img class="w-75 mb-4" src="assets/image/about.png" alt="">
                <p>Explore our diverse selection of motorhomes available for rent, each thoughtfully equipped to enhance
                    your family's holiday experience. Whether you're planning a short break or an extended tour, we have
                    the ideal motorhome to suit your needs. We're excited about the prospect of providing you with one
                    of our well-maintained vehicles. Your safety and hygiene are our utmost priorities, ensuring you can
                    embark on your holiday with confidence.</p>
            </div>
        </div>
        <h1 class="gap"></h1>
        <div class="row bg-banner mt-3">
            <h1 class="gap"></h1>
            <h1 class="text-uppercase text-center text-primary">How Prime Rides Work</h1>
            <div class="col-lg-3 mb-2">
                <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0  ml-n4 mr-4"
                        style="width: 100px; height: 100px;">
                        <img style="width: 100px; height: 100px;" src="assets/image/rentcar.jpg" alt="">
                    </div>
                    <p>
                        <b>Car Selection</b><br>
                        Just select your Duration, Location and Car. All on the site! It's all super easy.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0  ml-n4 mr-4"
                        style="width: 100px; height: 100px;">
                        <img style="width: 100px; height: 100px;" src="assets/image/delivery.jpg" alt="">
                    </div>
                    <p>
                        <b>Delivery</b><br>

                        We deliver your reserved car to your doorstep across Delhi-NCR.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0  ml-n4 mr-4"
                        style="width: 100px; height: 100px;">
                        <img style="width: 100px; height: 100px;" src="assets/image/i20.jpg" alt="">
                    </div>
                    <p>
                        <b>Drive Any Where</b><br>
                        Experience the freedom of self-drive with your reserved car, exploring any destination across
                        India.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 ml-n4 mr-4"
                        style="width: 100px; height: 100px;">
                        <img style="width: 100px; height: 100px;" src="assets/image/return.png" alt="">
                    </div>
                    <p>
                        <b>Return Car</b><br>

                        You can conveniently return the car at our designated location upon completing your trip.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->




<!--50% off Banner Start -->
<div class="container-fluid py-2">
    <div class="container bg-banner py-2">
        <div class=" py-2 px-4 text-center">
            <div class="py-2">
                <h1 class="display-1 text-primary text-center"><i class="fa fa-2x fa-gifts"></i></h1>
                <h1 class="display-1 text-uppercase text-primary mb-4">Become A Business Partner</h1>
                <h1 class="text-uppercase text-light mb-2">Attach Your <i class="fa fa-2x fa-car"></i> with Us
                </h1>
                <h2 class="mb-4 text-primary">And Eran Upto Rs. 60K/Month </h2>
                <h1 class="text-uppercase text-light mb-2"><i class="fa fa-phone"></i> Call Now</h1>
                <p style="font-size: 16px; font-weight: 600;">
                    <a href="tel:8800003301" style="color: #b17316;">+91 8800003301</a> <br> 
                    <a style="color: #b17316; margin-top: 20px !important;" href="tel:8800003302">+91 8800003302</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->




<!-- Banner Start -->
<!-- <div class="container-fluid bg-white py-2">
    <div class="container py-2">
        <div class="row mx-0">
            <div class="col-lg-6 px-0">
                <div class="px-5 bg-secondary d-flex align-items-center justify-content-between" style="height: 350px;">
                    <img class="img-fluid flex-shrink-0 ml-n5 w-50 mr-4" src="assets/image/banner-left.png" alt="">
                    <div class="text-right">
                        <h3 class="text-uppercase text-light mb-3">Want to be driver?</h3>
                        <p class="mb-4">Be inspired by our extensive range of motorhomes available for hire</p>
                        <a class="btn btn-primary py-2 px-4" href="">Start Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <div class="px-5 bg-dark d-flex align-items-center justify-content-between" style="height: 350px;">
                    <div class="text-left">
                        <h3 class="text-uppercase text-light mb-3">Looking for a car?</h3>
                        <p class="mb-4">Be inspired by our extensive range of motorhomes available for hire</p>
                        <a class="btn btn-primary py-2 px-4" href="">Start Now</a>
                    </div>
                    <img class="img-fluid flex-shrink-0 mr-n5 w-50 ml-4" src="assets/image/banner-right.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Banner End -->






<!--Why Us Start-->
<div class="container-fluid bg-white py-4">
    
    <div class="container pt-5 pb-1">
        <h1 class="display-4 text-uppercase text-center mb-5">Why <span class="text-primary">Prime Rides ?</span></h1>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="ts-service-wrapper">
                    <div class="ts-service-box">
                        <div class="ts-service-box-img">
                            <img src="assets/image/icon/why-1.png" alt="" />
                        </div>
                        <div class="ts-service-box-info">
                            <h3 class="service-box-title">Customer Satisfaction</h3>
                            <p>Our car service is greatly valued and appreciated by our customers.</p>
                        </div>
                    </div><!-- Service 1 end -->
                    <div class="gap-15"></div>
                    <div class="ts-service-box">
                        <div class="ts-service-box-img">
                            <img src="assets/image/icon/why-2.png " alt="" />
                        </div>
                        <div class="ts-service-box-info">
                            <h3 class="service-box-title">Your Trust Is Our Asset</h3>
                            <p>Our car services are reliable, ensuring you can count on us.</p>
                        </div>
                    </div><!-- Service 2 end -->
                    <div class="gap-15"></div>
                    <div class="ts-service-box">
                        <div class="ts-service-box-img ">
                            <img src="assets/image/icon/why-3.png" alt="" />
                        </div>
                        <div class="ts-service-box-info">
                            <h3 class="service-box-title">View Real-Time Car Booking</h3>
                            <p>

                                We regularly review client feedback and reviews, continuously refining and enhancing our
                                car booking service.
                            </p>
                        </div>
                    </div>
                    <!-- Service 3 end -->
                </div>
            </div><!-- Col end -->
            <div class="col-lg-4 col-md-12 text-center">
                
                <img class="img-fluid" style="border-radius: 50%; margin-top: 20%;" src="assets/image/car (4).jpg" alt="" />               
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="ts-service-wrapper ml-lg-auto">
                    <div class="ts-service-box">
                        <div class="ts-service-box-img">
                            <img src="assets/image/icon/why-4.png " alt="" />
                        </div>
                        <div class="ts-service-box-info">
                            <h3 class="service-box-title">Self-Perform </h3>
                            <p>
                                We believe in continuous learning and improvement to foster ongoing growth.</p>
                        </div>
                    </div>
                    <!-- Service 4 end -->
                    <div class="gap-15"></div>
                    <div class="ts-service-box">
                        <div class="ts-service-box-img">
                            <img src="assets/image/icon/why-5.png" alt="" />
                        </div>
                        <div class="ts-service-box-info">
                            <h3 class="service-box-title">Accessible</h3>
                            <p>
                                We offer daily nationwide coverage, reaching every corner through our extensive service network.
                            </p>
                        </div>
                    </div><!-- Service 5 end -->
                    <div class="gap-15"></div>
                    <div class="ts-service-box">
                        <div class="ts-service-box-img">
                            <img src="assets/image/icon/service-3.png" alt="" />
                        </div>
                        <div class="ts-service-box-info">
                            <h3 class="service-box-title">Convenient</h3>
                            <p>Car booking from here is very easy and fast.</p>
                        </div>
                    </div><!-- Service 6 end -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Facts Area start -->
<div class="container-fluid  py-5" style="color: #fff;">
    <div class="container bg-banner pt-5 pb-1">
        <h1 class="gap"></h1>
        <div class="row ">
            <div class="col-lg-5 col-md-12 column-left-title">
                <h2 class="column-title">Feel new Experiences with us.</h2>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-4">
                            <div class="ts-facts-bg">
                                <img src="assets/image/icon/fact1.png" alt="" />
                                <div class="ts-facts-content">
                                    <h4 class="ts-facts-num"><span class="counterUp"></span></h4>
                                    <p class="facts-desc" style="color: #fff;">Pan Inida Travel</p>
                                </div>
                            </div>
                            <!-- Facts 1 end-->
                        </div>
                        <!-- Col 1 end-->
                        <div class="col-lg-4 col-md-4">
                            <div class="ts-facts-bg">
                                <img src="assets/image/icon/fact2.png" alt="" />
                                <div class="ts-facts-content">
                                    <h4 class="ts-facts-num"><span class="counterUp"></span></h4>
                                    <p class="facts-desc" style="color: #fff;">Daily Car Enquiry</p>
                                </div>
                            </div>
                            <!-- Facts 2 end-->
                        </div>
                        <!-- Col 2 end-->
                        <div class="col-lg-4 col-md-4">
                            <div class="ts-facts-bg">
                                <img src="assets/image/icon/fact3.png" alt="" />
                                <div class="ts-facts-content">
                                    <h4 class="ts-facts-num"><span class="counterUp"></span></h4>
                                    <p class="facts-desc" style="color: #fff;">Easy and affordable booking</p>
                                </div>
                            </div>
                            <!-- Facts 3 end-->
                        </div>
                        <!-- Col 3 end-->
                    </div>
                </div>
            </div>
        </div>
        <h1 class="gap"></h1>
    </div>
</div>
<!-- Facts Area End -->
<!-- Contact Start -->
<!-- <div class="container-fluid bg-white py-2">
    <div class="container pt-5 pb-1">
        <h1 class="display-1 text-primary text-center"><i class="fa fa-2x fa-address-card"></i></h1>
        <h1 class="display-6 text-uppercase text-center mb-5">Contact Us</h1>
        <form [formGroup]="form" (submit)="send()">
            <div class="row">
                <div class="col-lg-7 mb-2">
                    <div class="contact-form bg-light mb-4" style="padding: 30px;">
                        <div class="row">
                            <div class="col-6 form-group">
                                <input type="text" class="form-control p-4" placeholder="Name"
                                    formControlName="from_name" required="required">
                            </div>
                            <div class="col-6 form-group">
                                <input type="email" class="form-control p-4" placeholder="Email" required="required"
                                    formControlName="from_email">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control p-4" placeholder="Mobile No."
                                formControlName="phoneno" required="required">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control py-2 px-4" rows="5" placeholder="Message" required="required"
                                formControlName="message"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-5" type="submit"> <i
                                    class="fa fa-2x fa-envelope flex-shrink-0 mr-3"></i>Send Message</button>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5 mb-2">
                    <div class=" secondary d-flex flex-column justify-content-center px-5 mb-4"
                        style="height: 435px;">
                        <div class="d-flex mb-3 py-2">
                            <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h3 class="text-light">Head Office</h3>
                                <p class="text-light" >S17 Aditya Mall, Aditya City Center, Indirapuram, Ghaziabad, UP</p>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <i class="fa fa-2x fa-mobile-alt text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h3 class="text-light">Booking Contact</h3>
                                <p>+91 8800003301 , +91 8800003302</p>
                            </div>
                        </div>


                        <div class="d-flex mb-3">
                            <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h3 class="text-light">Customer Service</h3>
                                <a class="text-body px-3" href="mailto:info@primerides.in">info&#64;primerides.in</a>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <i class="fa fa-2x fa-phone-alt text-primary flex-shrink-0 mr-3"></i>
                            <div class="mt-n1">
                                <h3 class="text-light">For 24/7 Support</h3>
                                <p>+91 8800003304 , +91 8800003305</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->

<!-- Contact End -->



<!-- Testimonial and Clients Start -->

<div class="testimonials">
    <h1 class="gap"></h1>
    <h1 class="text-uppercase text-center mb-5">HEAR FROM OUR GUESTS</h1>
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <div id="carouselExample" class="carousel slide justify-content-center" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/image/test1.png" alt="testi (1)">
                        <h4 class="text-primary">Garima Chaudhary</h4>
                        <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="600" data-aos-offset="0">
                            I've tried several car rental services, but <b>Primerides</b> stands out for its exceptional
                            customer service. The staff was friendly and professional, and the car I rented was clean
                            and
                            well-maintained. The online reservation system is straightforward, and I appreciated the
                            flexibility in pick-up and drop-off times. Highly recommend!
                        </p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/image/test2.png" alt="Second slide">
                        <h4 class="text-primary">Aditaya Vishwakarma</h4>
                        <p>
                            As a frequent traveler, I've used many car rental websites, and Primerides is my go-to. The
                            website is intuitive, making it easy to find the perfect vehicle for my needs. The pricing
                            is
                            transparent, and there are no hidden fees. The cars are reliable, and the entire process is
                            efficient. I trust Primerides for a hassle-free rental experience.
                        </p>
                    </div>
                    <div class="carousel-item ">
                        <img src="assets/image/test5.png" alt="third slide">
                        <h4 class="text-primary">Shalini Yadav</h4>
                        <p>
                            Renting a car through <b>Primerides</b> was a breeze! The website is user-friendly, the
                            selection of vehicles is impressive, and the whole process from booking to returning the car
                            was
                            seamless. The prices were competitive, and I appreciated the transparency in fees. I'll
                            definitely be using <b>Primerides</b> for all my future trips.
                        </p>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/image/test3.png" alt="fourth slide">
                        <h4 class="text-primary">Siddharth Sharma</h4>
                        <p>
                            "I recently rented a car for a family road trip through <b>Primerides</b> and
                            happier with the experience. The selection of family-friendly vehicles was impressive, and
                            the
                            rates were competitive. The pick-up and drop-off process was quick, and the car was
                            spotless.
                            I'll definitely be using <b>Primerides</b> for our future vacations."
                        </p>
                    </div>

                </div>
                <a class="carousel-control-prev text-secondary" href="#carouselExample" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon text-secondary" aria-hidden="true"></span>
                    <span class="sr-only text-secondary">Previous</span>

                </a>
                <a class="carousel-control-next text-secondary" href="#carouselExample" role="button" data-slide="next">
                    <span class="carousel-control-next-icon text-secondary" aria-hidden="true"></span>
                    <span class="sr-only text-secondary">Next</span>
                </a>
            </div>


        </div>
    </div>
    <h1 class="gap"></h1>
</div>



<!-- Testimonial and Clients End -->













